body{
    margin: 0%;
    padding: 0%;
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.appDiv{
    background-color: rgb(247, 208, 137);
    width: 600px;
    height: 150px;
    padding-top: 10px;
    padding-bottom:10px ;
    text-align: center;
    border-radius: 30px;
}
button{
    height: 30px;
    width: 60px;
   margin-right: 10px;
   border-radius: 15px;
   border: none;
}