*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#heading{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 65, 147, 0.883);
}
.head{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Main Container */

.profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px;
}

/* Card Design */

.cards{
  width: 250px;
  background-color: rgba(127, 153, 11, 0.35);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

/* Hover Effect */

.cards:hover{
  transform: translateY(-5px);
}

/* Profile Image */

.cards img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Username */

.cards h2{
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

/* Card */

.cards a{
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  transition: 0.3s;
}

/* Card Hover */

.cards a:hover{
  background-color: #333;
}
.but{
  margin-top: 20px;
  text-align: center;
}

/* Input Search Section */
.input{
   padding: 10px;
  width: 250px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

/* Search Button Design */

button{
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
